:root {
    --color-tag-js: 60 100 70%;
    --color-tag-python: 30 100 70%;
    --color-tag-ansible: 0 100 70%;
    --color-js: hsl(0, 100%, 80%);
}

.tag__icon {
    display: inline-flex;
    width: 16px;
    height: 16px;

    background-color: var(--color-text-muted);
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    transition: background-color 0.1s ease-in-out;
}


/* JavaScript*/

.tag--js {
    background-color: hsl(var(--color-tag-js) / 0.25);
}
.tag--js .tag__icon {
    background-color: hsl(var(--color-tag-js));
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path></svg>');
}
.tag--js .tag__name {
    color: hsl(var(--color-tag-js));
}



/* PYTHON */

.tag--python {
    background-color: hsl(var(--color-tag-python) / 0.25);
}
.tag--python .tag__icon {
    background-color: hsl(var(--color-tag-python));
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path></svg>');
}
.tag--python .tag__name {
    color: hsl(var(--color-tag-python));
}

/* ANSIBLE*/

.tag--ansible {
    background-color: hsl(var(--color-tag-ansible) / 0.25);
}
.tag--ansible .tag__icon {
    background-color: hsl(var(--color-tag-ansible));
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z M24.848,12.125c-0.765-0.327-1.651,0.022-1.976,0.784L14.031,33.5c-0.102,0.236,0.072,0.5,0.329,0.5h2.226c0.3,0,0.571-0.179,0.689-0.454l3.69-8.595l10.581,8.707C31.823,33.886,32.161,34,32.5,34c0.317,0,0.635-0.101,0.903-0.302c0.553-0.418,0.749-1.16,0.473-1.796l-8.25-19C25.469,12.539,25.185,12.271,24.848,12.125z M22.198,22.08l2.059-4.796l4.385,10.1L22.198,22.08z'/%3E%3C/svg%3E");

}

/* <path fill="#fff" d="M24.848,12.125c-0.765-0.327-1.651,0.022-1.976,0.784L14.031,33.5c-0.102,0.236,0.072,0.5,0.329,0.5	h2.226c0.3,0,0.571-0.179,0.689-0.454l3.69-8.595l10.581,8.707C31.823,33.886,32.161,34,32.5,34c0.317,0,0.635-0.101,0.903-0.302	c0.553-0.418,0.749-1.16,0.473-1.796l-8.25-19C25.469,12.539,25.185,12.271,24.848,12.125z M22.198,22.08l2.059-4.796l4.385,10.1	L22.198,22.08z"></path> */
.tag--ansible .tag__name {
    color: hsl(var(--color-tag-ansible));
}