/* ============================================
   SECTION 1: CONTACT
   ============================================ */

.contact-section {
    margin: var(--spacing-4xl) var(--spacing-5xl);
}

.contact-section h2 {
    display: flex;
    justify-content: center;
    font: var(--typography-heading-large);
    margin-bottom: var(--spacing-lg);
}

.contact-section .group {
    display: flex;
    gap: var(--spacing-xl);
    flex-direction: column;
}

.contact-section .info {
    flex: 3;
}

.contact-section .info .text {
    margin-bottom: var(--spacing-lg);
}

.contact-section .info .socials {
    display: flex;
    gap: var(--spacing-lg);
}

.contact-section .info .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    font-weight: 500;
    border-radius: 4px;
    background-color:  var(--color-input);
    padding: 8px 16px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.contact-section .info .socials a .icon-btn__icon {
    margin-right: var(--spacing-2xs);
    background-color: var(--color-primary-base);
}


.contact-section .info .socials a:hover {
    background-color: var(--color-primary-base);
}

.contact-section .info .socials a:active {
    background-color: var(--color-primary-lightest);
}

.contact-section .info .socials a:hover .social-text {
    color: var(--color-text-primary);
}

.contact-section .info .socials a:hover .icon-btn__icon {
    background-color: var(--color-text-primary);
}

.contact-section .form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .form label {
    margin-bottom: var(--spacing-2xs);
}


.contact-section .form input,
.contact-section .form textarea {
    background-color: var(--color-input);
    border: solid 2px var(--color-border);
    border-radius: 4px;
    color: var(--color-text-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    min-height: 36px;
    margin-bottom: var(--spacing-md);
    outline: none;
    width: 100%;
    resize: none;
    font: var(--typography-body-small);
}

.contact-section .form button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-base);
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary-base);
    padding: 12px 24px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.contact-section .form button:hover {
    background-color: var(--color-secondary-base);
    color: var(--color-text-primary);
}

.contact-section .form button:active {
    background-color: var(--color-secondary-lightest);
}

.socials img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
    color: var(--color-primary-base);
    background-color: var(--color-primary-base);
}

@media (max-width: 850px) {

    /* SECTION 4: CONTACT */
    .contact-section {
        margin: var(--spacing-4xl) 0;
    }
}

@media (max-width: 450px) {

    /* SECTION 4: SOCIALS */
    .contact-section .info .socials {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}