:root {
    --color-tag-js: 60 100 70%;
    --color-tag-python: 30 100 70%;
    --color-tag-ansible: 0 100 70%;
    --color-tag-godot: 206 80 70%;
    --color-js: hsl(206, 80%, 70%);
}

.tag__icon {
    display: inline-flex;
    width: 16px;
    height: 16px;

    background-color: var(--color-text-muted);
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    transition: background-color 0.1s ease-in-out;
}


/* JavaScript*/

.tag--js {
    background-color: hsl(var(--color-tag-js) / 0.25);
}
.tag--js .tag__icon {
    background-color: hsl(var(--color-tag-js));
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M15,20.38 c0,1.777-1.09,2.773-2.9,2.773c-1.788,0-2.927-1.045-2.927-2.735h1.937c0.005,0.627,0.379,1.023,0.957,1.023 c0.594,0,0.913-0.374,0.913-1.078v-5.365H15V20.38z M20.481,23.153c-2.009,0-3.273-0.946-3.307-2.476H19.1 c0.049,0.578,0.626,0.946,1.463,0.946c0.754,0,1.272-0.363,1.272-0.886c0-0.44-0.347-0.677-1.255-0.858l-1.045-0.209 c-1.453-0.275-2.201-1.067-2.201-2.316c0-1.552,1.244-2.57,3.158-2.57c1.86,0,3.147,1.007,3.18,2.476h-1.865 c-0.044-0.561-0.578-0.952-1.289-0.952c-0.709,0-1.176,0.336-1.176,0.864c0,0.435,0.352,0.688,1.188,0.853l1.022,0.198 c1.569,0.303,2.273,1.012,2.273,2.272C23.826,22.152,22.561,23.153,20.481,23.153z"></path></svg>');
}
.tag--js .tag__name {
    color: hsl(var(--color-tag-js));
}




/* PYTHON */

.tag--python {
    background-color: hsl(var(--color-tag-python) / 0.25);
}
.tag--python .tag__icon {
    background-color: hsl(var(--color-tag-python));
    --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M 24.5 2 C 15.800781 2 14 6.492188 14 9.09375 L 14 14 L 24 14 L 24 15 L 9.09375 15 C 5.792969 15 2 17.601563 2 25 C 2 32.398438 5.792969 35 9.09375 35 L 15 35 L 15 29 C 15 26.800781 16.800781 25 19 25 L 31 25 C 32.699219 25 34 23.699219 34 22 L 34 9.09375 C 34 5.59375 30.699219 2 24.5 2 Z M 20 7 C 21.101563 7 22 7.898438 22 9 C 22 10.101563 21.101563 11 20 11 C 18.898438 11 18 10.101563 18 9 C 18 7.898438 18.898438 7 20 7 Z M 35 15 L 35 22 C 35 24.199219 33.199219 26 31 26 L 19 26 C 17.300781 26 16 27.300781 16 29 L 16 40.90625 C 16 44.40625 19.300781 48 25.5 48 C 34.199219 48 36 43.507813 36 40.90625 L 36 36 L 26 36 L 26 35 L 40.90625 35 C 44.207031 35 48 32.398438 48 25 C 48 17.601563 44.207031 15 40.90625 15 Z M 30 39 C 31.101563 39 32 39.898438 32 41 C 32 42.101563 31.101563 43 30 43 C 28.898438 43 28 42.101563 28 41 C 28 39.898438 28.898438 39 30 39 Z"></path></svg>');
}
.tag--python .tag__name {
    color: hsl(var(--color-tag-python));
}

/* ANSIBLE*/

.tag--ansible {
    background-color: hsl(var(--color-tag-ansible) / 0.25);
}
.tag--ansible .tag__icon {
    background-color: hsl(var(--color-tag-ansible));
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z M24.848,12.125c-0.765-0.327-1.651,0.022-1.976,0.784L14.031,33.5c-0.102,0.236,0.072,0.5,0.329,0.5h2.226c0.3,0,0.571-0.179,0.689-0.454l3.69-8.595l10.581,8.707C31.823,33.886,32.161,34,32.5,34c0.317,0,0.635-0.101,0.903-0.302c0.553-0.418,0.749-1.16,0.473-1.796l-8.25-19C25.469,12.539,25.185,12.271,24.848,12.125z M22.198,22.08l2.059-4.796l4.385,10.1L22.198,22.08z'/%3E%3C/svg%3E");

}
.tag--ansible .tag__name {
    color: hsl(var(--color-tag-ansible));
}

.tag--godot {
    background-color: hsl(var(--color-tag-godot) / 0.25);
}
.tag--godot .tag__icon {
  background-color: hsl(var(--color-tag-godot)); /* you set this */
  --icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" ><path d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z" /></svg>');
}
.tag--godot .tag__name {
    color: hsl(var(--color-tag-godot));
}
