/* ============================================
   ANIMATIONS
   ============================================ */

@keyframes scroll-appear {
    from {
        opacity: 0;
        scale: 0.5;

    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes drop-appear {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-appear {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right-appear {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.scroll-element,
.card {
    animation: scroll-appear ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#navbar {
    animation: drop-appear 0.7s ease-out;
}

#hero .text h2 {
    animation: fade-in-appear 0.6s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

#hero .text p {
    animation: fade-in-appear 0.6s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1.0s;
}

#hero .headshot {
    animation: fade-in-appear 0.8s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1.2s;
}


#hero .text .links>* {
    animation: fade-in-appear 0.6s ease-in-out forwards;
    opacity: 0;
}


#hero .text .links>*:nth-child(1) {
    animation-delay: 1.5s;
}

#hero .text .links>*:nth-child(2) {
    animation-delay: 1.7s;
}

#hero .text .links>*:nth-child(3) {
    animation-delay: 1.9s;
}


/* ============================================
   SECTIONS
   ============================================ */

section {
    margin: var(--section-margin-full) 0;
}


/* ============================================
   SECTION 1: HERO
   ============================================ */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
}

.hero-section .text {
    flex: 5;
}

.hero-section .text p {
    color: var(--color-text-muted);
}

.hero-section .text h2 {
    font: var(--typography-title);
    margin-bottom: var(--spacing-lg);
}

.hero-section .links {
    max-width: 400px;
    margin-top: var(--spacing-lg);
    display: flex;
    gap: var(--spacing-md);
}

.hero-section .links a {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-base);
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid var(--color-secondary-base);
    padding: 6px 12px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.hero-section .links a .icon-btn__icon {
    margin-right: var(--spacing-2xs);
    background-color: var(--color-secondary-base);
}

.hero-section .headshot {
    flex: 2;
    border-radius: 40px;
}

.hero-section .headshot img {
    width: 600px;
    height: 400px;
    object-fit: contain;
    border-radius: 40px;
}

.hero-section .links a:hover {
    background-color: var(--color-secondary-base);
}

.hero-section .links a:active {
    background-color: var(--color-secondary-lightest);
    border-color: var(--color-secondary-lightest);
}

.hero-section .links a:hover .text {
    color: var(--color-text-primary);
}

.hero-section .links a:hover .icon-btn__icon {
    background-color: var(--color-text-primary);
}


/* ============================================
   SECTION 2: SKILLS
   ============================================ */

.skills-section h2 {
    text-align: center;
    font: var(--typography-heading-large);
    margin-bottom: var(--spacing-lg);
}

.skills-section .text {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-lg);

}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: var(--spacing-sm) var(--spacing-md);
    border: 2px solid var(--color-border);
    border-radius: 8px;
    font: var(--typography-body-large);
    font-weight: 500;
    gap: var(--spacing-md);
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}


/* ============================================
   SECTION 3: PROJECTS
   ============================================ */

.projects-section h2 {
    text-align: center;
    font: var(--typography-heading-large);
    margin-bottom: var(--spacing-lg);
}

.projects-section .subtext {
    text-align: center;
    margin-bottom: var(--spacing-2xl);
}

.projects-section .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 var(--spacing-xl);
    justify-content: center;
    gap: var(--spacing-xl);
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(50% - var(--spacing-3xl) / 2);
    max-width: 600px;
    margin-bottom: var(--spacing-lg);
}

.card img {
    border-radius: 16px;
}

.card .header-container {
    margin-top: var(--spacing-md);
    border-bottom: solid 1px var(--color-border);
}

.card .header-container h3 {
    font: var(--typography-heading-small);
    margin-bottom: var(--spacing-sm);
}

.card .description-container {
    margin-top: var(--spacing-sm);
    color: var(--color-text-muted);
}

/* --------------------------------------------
    PROJECT TAGS
   -------------------------------------------- */

.tags {
    display: flex;
    margin: var(--spacing-xs) 0;
    gap: var(--spacing-xs);
}

.tags .tag {
    min-width: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags .tag .body {
    padding: 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tags .tag .tag__icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: var(--spacing-2xs);
}

.tags .tag .tag__name {
    font: var(--typography-body-small);
    font-weight: bold;
    font-size: 13px;
}


/* ============================================
   SECTION 4: CONTACT
   ============================================ */


.contact-section h2 {
    font: var(--typography-heading-large);
    margin-bottom: var(--spacing-lg);
}

.contact-section .group {
    display: flex;
    gap: var(--spacing-xl);
}

.contact-section .info {
    flex: 3;
}

.contact-section .info .text {
    margin-bottom: var(--spacing-lg);
}

.contact-section .info .socials {
    display: flex;
    gap: var(--spacing-lg);
}

.contact-section .info .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--color-input);
    padding: 8px 16px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.contact-section .info .socials a .icon-btn__icon {
    margin-right: var(--spacing-2xs);
    background-color: var(--color-primary-base);
}


.contact-section .info .socials a:hover {
    background-color: var(--color-primary-base);
}

.contact-section .info .socials a:active {
    background-color: var(--color-primary-lightest);
}

.contact-section .info .socials a:hover .social-text {
    color: var(--color-text-primary);
}

.contact-section .info .socials a:hover .icon-btn__icon {
    background-color: var(--color-text-primary);
}

.contact-section .form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .form label {
    margin-bottom: var(--spacing-2xs);
}


.contact-section .form input,
.contact-section .form textarea {
    background-color: var(--color-input);
    border: solid 2px var(--color-border);
    border-radius: 4px;
    color: var(--color-text-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    min-height: 36px;
    margin-bottom: var(--spacing-md);
    outline: none;
    width: 100%;
    resize: none;
    font: var(--typography-body-small);
}

.contact-section .form button {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-base);
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary-base);
    padding: 12px 24px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.contact-section .form button:hover {
    background-color: var(--color-secondary-base);
    color: var(--color-text-primary);
}



@media (max-width: 850px) {

    /* SECTION 1: HERO */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .text h2 {
        font: var(--typography-heading-medium);
    }

    section {
        margin: var(--section-margin-mobile) 0;
    }

}


@media (max-width: 600px) {

    /* SECTION 1: HERO */
    .hero-section .headshot img {
        width: 420px;
        height: 280px;
    }

    /* SECTION 3: PROJECTS */
    .card {
        width: 90%;
    }

    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .projects-section .project-cards {
        gap: var(--spacing-sm);
    }

    /* SECTION 4: CONTACT */
    .contact-section .group {
        flex-direction: column;
    }

    .contact-section .form {
        width: 100%;

    }

    .contact-section .form input,
    .contact-section .form textarea {
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
    }
}

@media (max-width: 450px) {

    /* SECTION 1: HERO */
    .hero-section .links {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .hero-section .headshot img {
        width: 300px;
        height: 200px;
    }

    /* SECTION 3: PROJECTS */
    .card .header-container h3 {
        font: var(--typography-heading-smallest);
    }

    .card .description-container {
        font: var(--typography-body-small);
    }

    .tags {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        align-items: center;
        min-width: 100px;
    }

    .tag {
        width: 100%;
    }

    /* SECTION 4: SOCIALS */
    .contact-section .info .socials {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}

@media (max-width: 300px) {
    .hero-section .headshot img {
        width: 270px;
        height: 180px;
    }
}